Repository raosunjoy/agentos: changes, and which pre-commit hooks are due for each by the changed paths.
All: docs-build, accessibility-check, agentos-lint, privacy-check, security-check

docs-build:
  name: Build documentation
  entry: mkdocs build --strict
  language: system
  pass_filenames: false

accessibility-check:
  name: Accessibility check
  entry: python3 scripts/check-accessibility.py
  language: system
  pass_filenames: false

agentos-lint:
  name: AgentOS specific linting
  entry: python3 scripts/agentos-lint.py
  language: system
  pass_filenames: true

privacy-check:
  name: Privacy compliance check
  entry: python3 scripts/privacy-check.py
  language: system
  pass_filenames: true

security-check:
  name: Security compliance check
  entry: python3 scripts/security-check.py
  language: system
  pass_filenames: true

feat: implement performance optimization system for mid-range hardware
  .kiro/specs/agent-os/tasks.md
  src/caregiver/index.ts
  src/intelligence-layer/learning/__tests__/learning-system.test.ts
  src/intelligence-layer/learning/__tests__/pattern-recognition.test.ts
  src/intelligence-layer/learning/__tests__/proactive-assistant.test.ts
  src/intelligence-layer/learning/index.ts
  src/intelligence-layer/learning/learning-system.ts
  src/intelligence-layer/learning/pattern-recognition.ts
  src/intelligence-layer/learning/proactive-assistant.ts
  src/intelligence-layer/learning/types.ts
  src/performance/__tests__/battery-optimization.test.ts
  src/performance/__tests__/performance-optimization.test.ts
  src/performance/ai-scheduler.ts
  src/performance/battery-optimizer.ts
  src/performance/feature-degradation.ts
  src/performance/index.ts
  src/performance/model-quantizer.ts
  src/performance/resource-manager.ts
  src/performance/types.ts
Due: accessibility-check, agentos-lint, privacy-check, security-check

docs: create comprehensive project status documentation
  CHANGELOG.md
  README.md
  docs/development-dashboard.md
  docs/project-status.md
Due: docs-build

🎉 COMPLETE: AgentOS Production-Ready - All Risks Eliminated
  RISK_ELIMINATION_SUMMARY.md
Due: none

🎉 COMPLETE: Phase 2 Testing Infrastructure - Enterprise Testing Ready
  package.json
  src/__tests__/index.integration.test.ts
  src/core/__tests__/dependency-injection.integration.test.ts
  src/core/errors/__tests__/error-handler.test.ts
  src/core/logging/__tests__/logger-factory.test.ts
  src/intelligence-layer/nlp/__tests__/nlp-engine.integration.test.ts
  src/plugin-framework/__tests__/plugin-framework.integration.test.ts
  src/voice-interface/__tests__/voice-interface.integration.test.ts
Due: accessibility-check, agentos-lint, privacy-check, security-check

🎉 COMPLETE: Phase 4 Production Readiness - Enterprise Production Ready
  config/production.json
  env.production.example
  scripts/deploy-production.sh
  src/core/config/config-validator.ts
  src/core/health/health-check.ts
  src/core/lifecycle/graceful-shutdown.ts
  src/core/metrics/metrics-collector.ts
  src/core/server/http-server.ts
  src/index.ts
Due: accessibility-check, agentos-lint, privacy-check, security-check

🎉 COMPLETE: Phase 5 Advanced Features - Enterprise AI & Ecosystem
  src/caregiver/caregiver-integration.ts
  src/index.ts
  src/performance/ai-scheduler.ts
  src/performance/index.ts
  src/performance/model-quantizer.ts
  src/plugin-marketplace/marketplace.ts
Due: accessibility-check, agentos-lint, privacy-check, security-check

feat: Implement PRD v1.3 revisions and RGPx foundation
  IMPLEMENTATION_SUMMARY.md
  PRD_ANALYSIS_V1.3.md
  PRD_AgentOS_V1.3.md
  src/core/metrics/index.ts
  src/core/metrics/prd-metrics-tracker.ts
  src/integration/browser/browser-manager.ts
  src/integration/browser/index.ts
  src/integration/browser/types.ts
  src/intelligence-layer/rgpx/coherence-monitor.ts
  src/intelligence-layer/rgpx/index.ts
  src/intelligence-layer/rgpx/types.ts
  src/intelligence-layer/workflow/rgpx-integration.ts
  src/intelligence-layer/workflow/workflow-engine.ts
Due: accessibility-check, agentos-lint, privacy-check, security-check

test: Add comprehensive unit tests for PRD v1.3 features
  src/core/metrics/__tests__/prd-metrics-tracker.test.ts
  src/index.ts
  src/integration/browser/__tests__/browser-manager.test.ts
  src/intelligence-layer/rgpx/__tests__/coherence-monitor.test.ts
  src/intelligence-layer/workflow/__tests__/rgpx-integration.test.ts
Due: accessibility-check, agentos-lint, privacy-check, security-check

fix: Resolve TypeScript errors in test setup and coherence monitor
  src/intelligence-layer/rgpx/__tests__/coherence-monitor.test.ts
  src/intelligence-layer/rgpx/coherence-monitor.ts
  tests/setup.ts
Due: accessibility-check, agentos-lint, privacy-check, security-check

docs: Add comprehensive next steps guide for PRD v1.3
  IMPLEMENTATION_SUMMARY.md
  NEXT_STEPS.md
Due: none

test: Add comprehensive integration tests for PRD v1.3 features
  src/core/metrics/__tests__/prd-metrics-dashboard.integration.test.ts
  src/integration/browser/__tests__/browser-fallback.integration.test.ts
  src/intelligence-layer/workflow/__tests__/workflow-rgpx.integration.test.ts
Due: accessibility-check, agentos-lint, privacy-check, security-check

test: Add comprehensive integration tests for PRD v1.3 features
  src/core/metrics/__tests__/prd-metrics-dashboard.integration.test.ts
  src/integration/browser/__tests__/browser-fallback.integration.test.ts
  src/integration/browser/browser-manager.ts
  src/intelligence-layer/workflow/__tests__/workflow-rgpx.integration.test.ts
Due: accessibility-check, agentos-lint, privacy-check, security-check

Path conditions:
  docs-build: any of: ^(docs/|mkdocs\.yml)
  accessibility-check: any of: \.(html|js|ts|jsx|tsx)$
  agentos-lint: any of: ^src/
  privacy-check: any of: \.(py|js|ts)$
  security-check: any of: \.(py|js|ts)$
